{% extends 'base.html' %}

{% block content %}
    {% if 'Manager' in user.groups.all.0.name or user.is_staff %}
    {%  for item in messages %}
        <div class="central_block">
		<div class="container">
			<div class="row">
                <div class="block_style_2">
					<div class="left-top">Сообщения от пользователей</div>
					<div class="title-text">{{ item.send_date }}</div>
					<div class="block_img">
						<figure class="fig">
							<img src="/static/messages_static_photo.jpg">
							<figcaption>Пользователь: {{ item.user_name }}</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="block_style_2">
                    <div class="right-top">Сообщения от пользователей</div>
                    <div class="title-text">{{ item.user_name }}</div>
                    <div class="title-text">{{ item.user_email }}</div>
                    <div class="text-style_2">
                        {{ item.message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%  endfor %}
    {% endif %}
{% endblock %}
